@if (TaakVanProject != null)
{
    string badgeKleur = String.Empty;
    string OverzichtTodoTaak = $"OverzichtTodo{TaakVanProject.TaakId}";
    if (TaakVanProject.Status != null)
    {
        @switch (TaakVanProject.Status.StatusId)
        {
            case 1:
                badgeKleur = "text-bg-success";
                break;
            case 2:
                badgeKleur = "text-bg-dark";
                break;
            case 3:
                badgeKleur = "text-bg-warning";
                break;
            default:
                badgeKleur = "text-bg-light";
                break;
        }
    }
    else
    {
        //just in case er iets moet gebeuren
    }



    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <i class="bi bi-diagram-3"></i> @TaakVanProject.Titel
                <span class="badge @badgeKleur float-end">@TaakVanProject.Status!.Titel</span>
            </h5>
            <p class="card-text">@TaakVanProject.Beschrijving</p>
            <a class="text-primary d-block styled-link" style="cursor: pointer;" data-bs-toggle="collapse" href="#@OverzichtTodoTaak" aria-expanded="false" aria-controls="@OverzichtTodoTaak">
                <i class="bi bi-chevron-down"></i> Overzicht Todos
            </a>
            <div class="collapse" id="@OverzichtTodoTaak">
                <ul class="list-group list-group-flush mt-2">
                    @foreach (ToDoDTO todo in TaakVanProject.ToDos)
                    {
                        <li class="list-group-item">@todo.Titel</li>
                        <li class="list-group-item">@todo.Beschrijving</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <Placeholder Width="PlaceholderWidth.Col12" />
        <Placeholder Width="PlaceholderWidth.Col12" Size="PlaceholderSize.Large" />
        <Placeholder Width="PlaceholderWidth.Col12" Size="PlaceholderSize.Small" />
        <Placeholder Width="PlaceholderWidth.Col12" Size="PlaceholderSize.ExtraSmall" />
    </PlaceholderContainer>
}




@code {
    [Parameter]
    public TaakDTO TaakVanProject { get; set; }

}
