@inherits OpmaakBase

@{
    contactPersoon = $"ContactInfo{p.Organisatie.Contactpersonen.ContactpersoonId}";
    badgeKleur = OpmaakBase.GetBadgeKleur(p.Status?.StatusId ?? 0).ToLower();
}

@if (CardWeergaveHorizontaal)
{

}
else
{

    <div class="mb-4"
         @onmouseover="() => OnMouseOver(true)"
         @onmouseout="() => OnMouseOver(false)">

        <div class="card p-4 w-50" style="@cardStyle">
            <div @onclick="() => SetSelectedProjectId(p.ProjectId)" style="cursor: pointer; ">
                <div class="d-flex align-items-center">
                    <h4 class="mb-0 me-2">@p.Naam</h4>
                    <span class="badge rounded-pill @badgeKleur">@p.Status?.Titel</span>
                </div>
                <p>
                    @p.Beschrijving
                </p>

            </div><ul class="list-group">
                @if (p.DatumUur.BeginDatumUur != null)
                {
                    <li class="list-group-item"><small>Start datum: @p.DatumUur.BeginDatumUur.Value.ToShortDateString()</small></li>
                }

                @if (p.DatumUur.EindDatumUur != null)
                {
                    <li class="list-group-item"><small>Deadline op: @p.DatumUur.EindDatumUur.Value.ToShortDateString()</small></li>
                }


                @if (p.DatumUur.AfgerondDatumUur != null)
                {
                    <li class="list-group-item active" aria-current="true"><small>Afgerond op: @p.DatumUur.AfgerondDatumUur.Value.ToShortDateString()</small></li>
                }

            </ul>
            <button type="button" class="btn btn-outline-info w-100" data-bs-toggle="modal" data-bs-target="@($"#{modalNaam}")">
                Contactgegevens
            </button>
        </div>



        @{

            modalNaam = $"ContactgegevensModal{p.Organisatie.Contactpersonen.ContactpersoonId}";
        }
    </div>

    <div class="modal fade" id="@modalNaam" tabindex="-1" aria-labelledby="ContactgegevensModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contactgegevens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">@p.Organisatie.Contactpersonen.Familienaam.ToUpper() @p.Organisatie.Contactpersonen.Voornaam</li>
                        @if (p.Organisatie.Contactpersonen.TelefoonNummer != null)
                        {
                            <li class="list-group-item">TEL: @p.Organisatie.Contactpersonen.TelefoonNummer</li>
                        }
                        @if (p.Organisatie.Contactpersonen.GSMNummer != null)
                        {
                            <li class="list-group-item">GSM: @p.Organisatie.Contactpersonen.GSMNummer</li>
                        }
                        @if (p.Organisatie.Contactpersonen.Email != null)
                        {
                            <li class="list-group-item">Email: @p.Organisatie.Contactpersonen.Email</li>
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Terug</button>
                </div>
            </div>
        </div>
    </div>


}



@* <div class="d-flex">
        <a class="text-primary d-block styled-link" style="cursor: pointer;" data-bs-toggle="collapse" href="#@contactPersoon" aria-expanded="false" aria-controls="@contactPersoon">
            <i class="bi bi-chevron-down"></i> Contactpersoon
        </a>
        <div class="collapse" id="@contactPersoon">
            <ul class="list-group list-group-flush mt-2">
                @*                 <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />

                <li class="list-group-item">@p.Organisatie.Contactpersonen.Familienaam.ToUpper() @p.Organisatie.Contactpersonen.Voornaam</li>
                @if (p.Organisatie.Contactpersonen.TelefoonNummer != null)
                {
                    <li class="list-group-item">TEL: @p.Organisatie.Contactpersonen.TelefoonNummer</li>
                }
                @if (p.Organisatie.Contactpersonen.GSMNummer != null)
                {
                    <li class="list-group-item">GSM: @p.Organisatie.Contactpersonen.GSMNummer</li>
                }
                @if (p.Organisatie.Contactpersonen.Email != null)
                {
                    <li class="list-group-item">Email: @p.Organisatie.Contactpersonen.Email</li>
                }
            </ul>
        </div>
    </div>
</div> *@

@code {
    [Parameter]
    public ProjectDTO p { get; set; }
    [Parameter]
    public bool CardWeergaveHorizontaal { get; set; }

    string contactPersoon = String.Empty;
    string badgeKleur = String.Empty;
    string modalNaam = String.Empty;

    private string cardStyle = "background-color: inherit";

    [Parameter]
    public int selectedProjectId { get; set; }

    [Parameter]
    public EventCallback<int> OnProjectSelected { get; set; }

    private void SetSelectedProjectId(int projectId)
    {

        selectedProjectId = projectId;
        OnProjectSelected.InvokeAsync(selectedProjectId);
    }

    private void OnMouseOver(bool isMouseOver)
    {
        cardStyle = isMouseOver ? "background-color: #EEEEEE;" : "background-color: inherit";
    }
}
